<!-- OLD -->

<!-- <button class='home'> Home </button>
<button class= 'characters'> Characters </button>
<button class= 'battle'> Battle </button> -->

<!-- NEW -->
<header id="header-bar">

    <!-- LOGO -->
    <div id="header-logo">
        <a href="index.html">
            <img src="img/battleapp-logo_rgb_140x90@2x.png" alt="Marvel Battle App"/>
        </a>
    </div>

    <!-- NAV MENU -->
    <nav id="header-nav">

        <!-- MOBILE MENU -->
        <!-- MENU LIST -->
        <ul id="header-menu">
            <li></li>
            <li><a href="index.html" data-route="">Home</a></li>
            <li><a href="search.html" data-route="character">Characters</a></li>
            <li><a href="battle-select.html" data-route="battle">BattleGround</a></li>
        </ul>
        
    </nav> <!-- END HEADER-NAV -->

</header> <!-- END HEADER -->