<img class="thumbnail" src="<%= thumbnail.path + '.' + thumbnail.extension %>">
<h2 class="name"> <%= name %> </h2>
<div class="description"> <%= description %> </div>
<div class="appearances"> <%= comics.available + events.available + series.available + stories.available %> appearances </div>
<div class="bio"> <a href= <%= JSON.stringify(urls[1].url) %> > Marvel wiki</a> </div>
<div id="container"></div>
<div class="detailNav">
<button class="select"> select </button>
<button class="back"> back </button>
</div>