<!-- <input class='search' placeHolder='Name Starts With'>
<button class='submit'>Search</button>
<div class="resultsSlot"></div> -->


<div id="content-wrapper">
    
    <!-- TITLE SECTION -->
    <div class="page-titlebar">
        
        <!-- BANNER -->
        <div class="pagehead-banner">
            <img src="img/search-banner_rgb_940x300@2x.png" alt="Marvel Characters"/>
        </div>

        <!-- TEXT BANNER -->
        <div class="textbanner-blue">
            <h2>Your epic battle begins here.</h2>
            <h4>Who will you choose?</h4>

            <!-- SEARCH BOX -->
            <input  class= 'search'type="text" name="character-search" id="character-search" placeholder="Name Starts With..."/>

            <input class= 'submit'type="submit" value="Search"/>

        </div> <!-- END TEXT BANNER -->

    </div> <!-- END TITLE SECTION -->

</div> <!-- END CONTENT-WRAPPER -->