<!-- <input class='search' placeHolder='Name Starts With'>
<button class='submit'>Search</button>
<button class='random'>Random Character</button>
<div class="resultsSlot"></div> -->
<div class="battle-scene-search">
    <input class="search" type="text" name="charactersearch-battleselect1" id="charactersearch-battleselect1" placeholder="Search by keyword or character name"/>

    <input class="submit" type="submit" value="Search"/>
    <input type="random" value="random"/>
</div>
<div class="results-slot"></div>