<!-- <input class='search' placeHolder='Name Starts With'>
<button class='submit'>Search</button>
<button class='random'>Random Character</button> -->
<div class="battle-scene-footer clearfix">

    <div class="battle-scene-search resultsSlot">
        <input type="text" name="charactersearch-battleselect1" id="charactersearch-battleselect1" placeholder="Search by keyword or character name"/>

        <input type="submit" value="Search" class="submit select-left"/>

        <input type="submit" value="Random" class="random randomizer"/>
                            
    </div>


    <div class="battle-scene-search">
        <input type="text" name="charactersearch-battleselect1" id="charactersearch-battleselect1" placeholder="Search by keyword or character name"/>

        <input type="submit" value="Search" class="submit select-right"/>

        <input type="submit" value="Random" class="random randomizer"/>
    </div>

</div>
