.textbanner-blue {
  height: auto;
  width: 100%;
  display: block;
  padding: 2% 0%;
  box-sizing: border-box;
  background-color: #3a405a;
  text-align: center;
  color: #ffffff; }
  .textbanner-blue h2 {
    margin-bottom: 0%; }

.button {
  height: auto;
  width: auto;
  display: block;
  padding: 2% 0%;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #2e3348;
  font-family: Cinzel;
  font-weight: 400;
  font-size: 1.25em;
  text-align: center;
  color: #2e3348; }
  .button:hover {
    background-color: #2e3348;
    color: #ffffff; }

.hide-mobile {
  display: none !important; }
  @media screen and (min-width: 400px) {
    .hide-mobile {
      display: none !important; } }
  @media screen and (min-width: 600px) {
    .hide-mobile {
      display: inline !important; } }
  @media screen and (min-width: 800px) {
    .hide-mobile {
      display: inline !important; } }
  @media screen and (min-width: 1000px) {
    .hide-mobile {
      display: inline !important; } }
  @media screen and (min-width: 1200px) {
    .hide-mobile {
      display: inline !important; } }

.hide-tablet {
  display: none !important; }
  @media screen and (min-width: 400px) {
    .hide-tablet {
      display: none !important; } }
  @media screen and (min-width: 600px) {
    .hide-tablet {
      display: none !important; } }
  @media screen and (min-width: 800px) {
    .hide-tablet {
      display: inline !important; } }
  @media screen and (min-width: 1000px) {
    .hide-tablet {
      display: inline !important; } }
  @media screen and (min-width: 1200px) {
    .hide-tablet {
      display: inline !important; } }

.hide-desktop {
  display: none !important; }
  @media screen and (min-width: 400px) {
    .hide-desktop {
      display: inline !important; } }
  @media screen and (min-width: 600px) {
    .hide-desktop {
      display: inline !important; } }
  @media screen and (min-width: 800px) {
    .hide-desktop {
      display: none !important; } }
  @media screen and (min-width: 1000px) {
    .hide-desktop {
      display: none !important; } }
  @media screen and (min-width: 1200px) {
    .hide-desktop {
      display: none !important; } }

* {
  margin: 0%;
  padding: 0%; }

html {
  height: auto;
  width: 100vw;
  background-color: #3a405a; }

body {
  height: auto;
  width: 90%;
  margin: 0% auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 6px #333333;
  font-family: Roboto, Helvetica, Arial, sans-serif; }

#content-wrapper {
  height: auto;
  width: auto; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.clear {
  clear: both; }

h1, h2, h3, h4, h5, h6 {
  font-family: Cinzel;
  font-weight: 400;
  line-height: 1.25; }

h2 {
  font-size: 2.00em; }
  h2 .supersize {
    font-size: 1.50em; }

h3 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 1.75em;
  color: #333333;
  margin-bottom: 5%; }

h5 {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.25em;
  color: #333333; }

h6 .supersize {
  font-size: 1.50em; }

p {
  font-weight: 400;
  font-size: 1.00em;
  line-height: 1.50;
  color: #666666;
  margin-bottom: 5%; }

a {
  text-decoration: none; }

#header-bar {
  height: auto;
  width: 100%;
  padding: 4% 10%;
  box-sizing: border-box;
  font-family: Cinzel;
  font-weight: 400;
  font-size: 1.25em; }

#header-logo {
  max-height: 76px;
  width: auto;
  display: inline-block;
  vertical-align: middle; }
  #header-logo a {
    display: block; }
  #header-logo img {
    max-height: 76px;
    width: auto;
    display: block; }

#header-nav {
  width: 80%;
  display: block;
  float: right; }

#header-menu {
  display: block;
  vertical-align: middle;
  list-style: none;
  text-align: right; }
  #header-menu li {
    display: inline-block;
    margin-right: 10px; }
    #header-menu li:last-child {
      margin-right: 0px; }
  #header-menu a {
    height: 76px;
    width: auto;
    display: block;
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid #0a122a;
    text-align: center;
    color: #0a122a; }
    #header-menu a:hover {
      background-color: #0a122a;
      color: #ffffff;
      cursor: pointer; }

#footer-bar {
  background-color: #0a122a;
  padding: 8%;
  box-sizing: border-box; }
  #footer-bar h6 {
    font-size: 1.00em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 1%; }

.page-titlebar {
  height: auto;
  width: 100%;
  display: block; }

.pagehead-banner {
  height: auto;
  width: 80%;
  display: block;
  margin: 0% auto;
  margin-bottom: 5%; }
  .pagehead-banner img {
    height: auto;
    width: 100%; }

.characters {
  height: auto;
  width: 80%;
  margin: 0% auto;
  display: block;
  padding: 8% 10%;
  box-sizing: border-box;
  text-align: center; }
  .characters h3 {
    margin-bottom: 2%; }

.character-list {
  height: auto;
  width: 100%;
  display: block;
  margin: 5% 0%;
  list-style: none; }
  .character-list li {
    display: inline-block;
    margin-right: 2%; }
    .character-list li:last-child {
      margin-right: 0%; }

.stats-panel-parent {
  height: auto;
  width: 80%;
  margin: 0% auto;
  margin-bottom: 10%;
  display: block;
  padding: 5%;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #2e3348; }
  .stats-panel-parent .stats-panel-child {
    height: 100%;
    width: 50%;
    display: inline;
    padding: 4%;
    box-sizing: border-box;
    float: left; }
    .stats-panel-parent .stats-panel-child h2 {
      text-align: center;
      color: #333333;
      margin-bottom: 10%; }
    .stats-panel-parent .stats-panel-child ul {
      display: block;
      margin: 4% 0%;
      list-style: none; }
    .stats-panel-parent .stats-panel-child li {
      display: block;
      vertical-align: middle;
      margin-bottom: 4%; }
    .stats-panel-parent .stats-panel-child a {
      color: #333333;
      vertical-align: middle; }
    .stats-panel-parent .stats-panel-child img {
      height: auto;
      width: 25%;
      display: inline-block;
      margin-right: 5%;
      vertical-align: middle; }
    .stats-panel-parent .stats-panel-child h6 {
      font-size: 1.50em;
      display: inline-block;
      vertical-align: middle; }

.recent-battles .battle-row {
  height: auto;
  width: 100%;
  display: block;
  margin-bottom: 4%;
  text-align: center;
  display: block; }
  .recent-battles .battle-row .winner {
    border: 4px solid #ed1b24;
    box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
