<!-- <div>Battle ONCE view</div>
<div class="character1"></div>
    <img class="thumbnail" src="<%= character1.thumbnail.path + '.' + character1.thumbnail.extension %>">
    <div><%= character1.name %></div>
</div>

<div class="character2"></div>
    <img class="thumbnail" src="<%= character2.thumbnail.path + '.' + character2.thumbnail.extension %>">
    <div><%= character2.name %></div>
</div>
<button class="fight-once">Fight!</button>
<ul class="battle-messages"></ul> -->

<div class="battle-scene">
    <div class="frame">
        <div class="battle-player-left character1">
            <div class="character1"></div>
                <img class="thumbnail" src="<%= character1.thumbnail.path + '/standard_fantastic' + '.' + character1.thumbnail.extension %>">
                <div><%= character1.name %></div>
        </div>
        <div class="battle-player-right character2">
            <img class="thumbnail" src="<%= character2.thumbnail.path + '/standard_fantastic' + '.' + character2.thumbnail.extension %>">
            <div><%= character2.name %></div>
        </div>
        <div class="battle-scene-footer">
            <a href="battle-view.html" class="button fight-once">
                Fight
            </a>
        </div>
    </div>
</div> 

    <div class="battle-playlog">
        <h1>Battle Results</h1>

        <div class="playlog-container">
            <ul class="playlog battle-messages">
            </ul>
        </div>
    </div>
    
</div>