<!-- <div class="header">See the outcome of a battle.</div>
<div class="character1">
    <img class="thumbnail" src="<%= character1.thumbnail.path + '/standard_fantastic' + '.' + character1.thumbnail.extension %>">
    <div><%= character1.name %></div>
    <div class="character1-wins"></div>
    <div class="character1-losses"></div>
    <div class="character1-draws"></div>
</div>
<div class="character2">
    <img class="thumbnail" src="<%= character2.thumbnail.path + '/standard_fantastic' + '.' + character2.thumbnail.extension %>">
    <div><%= character2.name %></div>
    <div class="character2-wins"></div>
    <div class="character2-losses"></div>
    <div class="character2-draws"></div>
</div>
<input class="fight-num" type="number">
<button class="fight">Fight!</button> -->

<!-- PAGE CONTENT -->
<div id="battle-simulate" class="content-wrapper">

    <!-- PAGE TITLE BANNER -->
    <div class="battlepage-title-banner">
        <h1>Get Your Fight On</h1>
    </div> <!-- END PAGE-TITLE-BANNER -->

    <!-- BATTLE SCENE BANNER -->
    <div class="battle-scene">
        
        <!-- PLAYERS PANEL -->
        <div class="players-panel clearfix">
            <div class="thumbnail player-card" style="background-image: url(<%= character1.thumbnail.path + '.' + character1.thumbnail.extension %>)"></div>
            <div class="thumbnail player-card" style="background-image: url(<%= character2.thumbnail.path + '.' + character2.thumbnail.extension %>)"></div>
        </div> <!-- END PLAYERS-PANEL -->

        <!-- BATTLE FOOTER BAR -->
        <div class="battle-scene-footer clearfix">
            <input class="fight-num" type="text" placeholder="Default: 100" />
            
            <input class="fight" type="submit" value="Fight"/>
        </div>

    </div> <!-- END BATTLE-SCENE -->

    <!-- BATTLE SCENE STATS -->
    <div class="battlelog-frame">
        
        <!-- CHARACTER NAMES -->
        <div class="character-names clearfix">
            <div class="player-name">
                <h1><%= character1.name %></h1>
                <h4 class="character1-wins"></h4>
                <h4 class="character1-losses"></h4>
                <h4 class="character1-draws"></h4>
            </div>
            <div class="player-name">
                <h1><%= character2.name %></h1>
                <h4 class="character2-wins"></h4>
                <h4 class="character2-losses"></h4>
                <h4 class="character2-draws"></h4>
            </div>
        </div> <!-- END CHARACTER NAMES -->

        <!-- MATCHUP CHART -->
        <div id="container" class="matchup-radar-chart">
            
        </div> <!-- END MATCHUP-RADAR-CHART -->

    </div> <!-- END BATTLELOG-FRAME -->
    
</div>  