<!-- <div>Battle ONCE view</div>
<div class="character1"></div>
    <img class="thumbnail" src="<%= character1.thumbnail.path + '.' + character1.thumbnail.extension %>">
    <div><%= character1.name %></div>
</div>

<div class="character2"></div>
    <img class="thumbnail" src="<%= character2.thumbnail.path + '.' + character2.thumbnail.extension %>">
    <div><%= character2.name %></div>
</div>
<button class="fight-once">Fight!</button>
<ul class="battle-messages"></ul> -->

<!-- <div class="battle-scene">
    <div class="frame">
        <div class="battle-player-left character1">
            <div class="character1"></div>
                <img class="thumbnail" src="<%= character1.thumbnail.path + '/standard_fantastic' + '.' + character1.thumbnail.extension %>">
                <div><%= character1.name %></div>
        </div>
        <div class="battle-player-right character2">
            <img class="thumbnail" src="<%= character2.thumbnail.path + '/standard_fantastic' + '.' + character2.thumbnail.extension %>">
            <div><%= character2.name %></div>
        </div>
        <div class="battle-scene-footer">
            <a href="battle-view.html" class="button fight-once">
                Fight
            </a>
        </div>
    </div>
</div> 

    <div class="battle-playlog">
        <h1>Battle Results</h1>

        <div class="playlog-container">
            <ul class="playlog battle-messages">
            </ul>
        </div>
    </div>
    
</div> -->

<!-- PAGE CONTENT -->
        <div id="battle-turn" class="content-wrapper">

            <!-- PAGE TITLE BANNER -->
            <div class="battlepage-title-banner">
                <h1>Get Your Fight On</h1>
            </div> <!-- END PAGE-TITLE-BANNER -->

            <!-- BATTLE SCENE BANNER -->
            <div class="battle-scene">
                
                <!-- PLAYERS PANEL -->
                <div class="players-panel clearfix">
                    <div class="player-card character1" style="background-image: url(<%= character1.image %>)"></div>
                    <div class="player-card character2" style="background-image: url(<%= character2.image %>)"></div>
                </div> <!-- END PLAYERS-PANEL -->

                <!-- BATTLE FOOTER BAR -->
                <div class="battle-scene-footer clearfix">
                    <input type="submit" value="Fight" class="fight-once" />
                </div>

            </div> <!-- END BATTLE-SCENE -->

            <!-- BATTLE SCENE STATS -->
            <div class="battlelog-frame">
                
                <!-- CHARACTER NAMES -->
                <div class="character-names clearfix">
                    <div class="player-name">
                        <h1> <%= character1.name %> </h1>
                    </div>
                    <div class="player-name">
                        <h1> <%= character2.name %></h1>
                    </div>
                </div> <!-- END CHARACTER NAMES -->

                <!-- BATTLELOG BATTLE RESULTS -->
                <div class="battlelog-results">
                    <!-- INSERT TURN BY TURN RESULTS HERE. -->
                    <ul class="battle-messages">
                    </ul>

                </div> <!-- END BATTLELOG-RESULTS -->

            </div> <!-- END BATTLELOG-FRAME -->
            
        </div> <!-- END PAGE CONTENT -->