// MARVEL BATTLE APP
// BATTLE SCENE STYLING

.battlepage-title-banner {
	height: auto;
	width: 80%;
	margin: 0% auto;
	margin-top: 2%;
	margin-bottom: 5%;

	h1 {
		font-size: 4.00em;
		text-align: center;
		color: #333333;
	}
}

.battle-scene {
	height: auto;
	width: 100%;
	display: block;
	margin-bottom: 5%;
	background-color: #333333;
	border-top: 10px solid #ed1b24;
	box-sizing: border-box;

	.players-panel {
		height: auto;
		width: 100%;
		display: block;

		.player-card {
			height: 300px;
			width: 50%;
			display: inline-block;
			background-size: cover;
			background-repeat: none;
			background-position: 50% 50%;
			box-sizing: border-box;
			float: left;

			&:first-child {
				border-right: 1px solid #ffffff;
			}
			&:last-child {
				border-left: 1px solid #ffffff;
			}
		}
		.player-card-winner {
			height: 300px;
			width: 100%;
			display: block;
			background-size: cover;
			background-repeat: none;
			background-position: 50% 50%;
			box-sizing: border-box;
		}
	}
	.battle-scene-footer {
		height: auto;
		width: 100%;
		display: block;
		background-color: #0a122a;
		padding: 2% 10%;
		box-sizing: border-box;
	}
}

.battlelog-frame {
	height: auto;
	width: 80%;
	margin: 0% auto;
	margin-bottom: 10%;

	.character-names {
		height: auto;
		width: 100%;
		margin-bottom: 3%;

		.player-name {
			height: auto;
			width: 50%;
			display: inline-block;
			float: left;

			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
			h1 {
				font-size: 3.00em;
			}
			h4 {
				font-size: 1.50em;
				color: #ed1b24;
			}
		}
	}
}

#battle-select, #battle-simulate {
	.player-card {
		&:first-child {
			background-image: url("../img/bl.jpg");
		}
		&:last-child {
			background-image: url("../img/bl.jpg");
		}
	}
	.battle-scene-footer {
		.battle-scene-search {
			height: auto;
			width: 50%;
			display: inline-block;
			float: left;

			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
			input[type="text"] {
				height: auto;
				width: 55%;
				margin-right: 1%;
				padding: 1% 2%;
				box-sizing: border-box;
				border: 1px solid #080e22;
				font-family: Roboto, Helvetica, Arial, sans-serif;
				font-size: 0.80em;
				color: #666666;
			}
			input[type="submit"] {
				height: auto;
				width: auto;
				padding: 1% 3%;
				box-sizing: border-box;
				border: 1px solid #ffffff;
				background-color: transparent;
				font-family: Cinzel;
				font-size: 0.90em;
				text-align: center;
				color: #ffffff;

				&:hover {
					background-color: #364155;
					cursor: pointer;
				}
			}
		}
	}
	.battlelog-frame {
		.matchup-radar-chart {
			height: 400px;
			width: 100%;
			background-color: #ffffff;
			border: 1px solid #0a122a;
			margin-bottom: 5%;
		}
		.battleground-buttons {
			height: auto;
			width: 80%;
			margin: 0% auto;
			margin-bottom: 5%;
			text-align: center;
		
			.button {
				height: auto;
				width: 40%;
				display: inline-block;
				margin: 0% auto;
				margin-left: 3%;
				background-color: #ed1b24;
				color: #ffffff;

				&:hover {
					background-color: #f14950;
				}
			}
		}
	}
	.matchup-radar-chart {
		height: 400px;
		width: 100%;
		background-color: #ffffff;
		border: 1px solid #0a122a;
		margin-bottom: 5%;
	}
}

#battle-view, #battle-results, #battle-simulate, #battle-turn {
	.player-card {
		&:first-child {
			background-image: url("https://i.annihil.us/u/prod/marvel/i/mg/c/60/55b6a28ef24fa.jpg");
		}
		&:last-child {
			background-image: url("http://i.annihil.us/u/prod/marvel/i/mg/9/30/537bb3f94d3b0.jpg");
		}
	}
	.battle-scene-footer {
		text-align: center;
	}
	input[type="submit"] {
		height: auto;
		width: 40%;
		margin: 0% auto;
		margin-right: 4%;
		padding: 1% 0%;
		box-sizing: border-box;
		border: 1px solid #ffffff;
		background-color: #ed1b24;
		font-family: Cinzel;
		font-size: 0.90em;
		text-align: center;
		color: #ffffff;

		&:hover {
			background-color: #f14950;
			cursor: pointer;
		}
		&:last-child {
			margin-right: 0%;
		}
	}
	.battlelog-frame {
		.battlelog-results {
			height: 400px;
			width: 100%;
			display: block;
			margin-bottom: 5%;
			padding: 4%;
			box-sizing: border-box;	
			background-color: #ffffff;
			border: 1px solid #0a122a;
			overflow: scroll;

			ul {
				list-style: none;
				font-size: 0.90em;
				font-weight: 300;
				line-height: 1.50;
				color: #666666;
			}
			li {
				margin-bottom: 1%;
				border-bottom: 1px solid #f2f2f2;

				&:last-child {
					border-bottom: none;
				}
				i {
					color: #ed1b24;
					margin-right: 20px;
				}
			}
		}
	}
	.battlelog-winner-reveal {
		h1 {
			font-size: 4.00em;
			text-align: center;
			color: #ed1b24;
		}
	}
}

#battle-results {
	.player-card-winner {
		background-image: url("https://i.annihil.us/u/prod/marvel/i/mg/c/60/55b6a28ef24fa.jpg");
	}
}

#battle-simulate {
	.battle-scene-footer {
		input[type="text"] {
			height: auto;
			width: 40%;
			padding: 0.5% 2%;
			margin-right: 2%;
			box-sizing: border-box;
			font-size: 0.90em;
			color: #999999;
		}
		input[type="submit"] {
			width: 20%;
		}	
	}
	.battlelog-frame {
		.character-names {
			.player-name {
				h4 {
					font-size: 1.25em;
					color: #666666;
				}
			}
		}
	}
}

#battle-turn {
	.battlelog-results {
		ul {
			overflow: scroll;

			li {
				text-align: center !important;
			}
		}
	}
}

// NEW SEARCH PAGE
#battle-scene-footer-search {
	height: auto;
	width: 90%;
	margin: 0% auto;
	padding: 0%;

	.battle-scene-search {
		height: auto;
		width: 100% !important;
		padding: 0%;
		margin: 0%;

		input[type="text"] {
			height: auto;
			width: 55% !important;
			margin: 0%;
			padding: 1.5% !important;
			box-sizing: border-box;
			float: left;
			font-size: 0.90em;
		}
	}
}

// .resultsSlot {
	
// 	div {
// 		width: 50%;
// 		margin-top: 10px;
// 		float: left;
// 		text-align: center;
// 	}
// }
