// PAGE TEMPLATE SITE
// PAGE GRID - 16 COLUMN

.grid-1 {
	width: 5.3125%;
}
.grid-2 {
	width: 11.625%;
}
.grid-3 {
	width: 17.9375%;
}
.grid-4 {
	width: 24.25%;
}
.grid-5 {
	width: 30.5625%;
}
.grid-6 {
	width: 36.875%;
}
.grid-7 {
	width: 43.1875%;
}
.grid-8 {
	width: 49.5%;
}
.grid-9 {
	width: 55.8125%;
}
.grid-10 {
	width: 62.125%;
}
.grid-11 {
	width: 68.4375%;
}
.grid-12 {
	width: 74.75%;
}
.grid-13 {
	width: 81.0625%;
}
.grid-14 {
	width: 87.375%;
}
.grid-15 {
	width: 93.6875%;
}
.grid-16 {
	width: 100%;
}