// MARVEL BATTLE APP
// HEADER STYLING

#header-bar {
	height: auto;
	width: 100%;
	padding: 4% 10%;
	box-sizing: border-box;
	font-family: Cinzel;
	font-weight: 400;
	font-size: 1.25em;
}

#header-logo {
	height: auto;
	width: 15%;
	display: inline-block;

	a {
		display: block;
	}
	img {
		height: auto;
		width: 100%;
		display: block;
	}
}

#header-nav {
	height: 100%;
	width: 70%;
	display: inline-block;
	float: right;
}

#header-menu {
	display: block;
	list-style: none;

	li {
		display: inline-block;
	}
	a {
		display: inline-block;
		padding: 3% 6%;
		box-sizing: border-box;
		border: 1px solid #0a122a;
		text-align: center;
		color: #0a122a;
	}
}