// MARVEL BATTLE APP
// HEADER STYLING

#header-bar {
	height: auto;
	width: 100%;
	padding: 4% 10%;
	box-sizing: border-box;
	font-family: Cinzel;
	font-weight: 400;
	font-size: 1.25em;
}

#header-logo {
	max-height: 76px;
	width: auto;
	display: inline-block;
	vertical-align: middle;

	a {
		display: block;
	}
	img {
		max-height: 76px;
		width: auto;
		display: block;
	}
}

#header-nav {
	width: 80%;
	display: block;
	float: right;
}

#header-menu {
	display: block;
	vertical-align: middle;
	list-style: none;
	text-align: right;

	li {
		display: inline-block;
		margin-right: 10px;

		&:last-child {
			margin-right: 0px;
		}
	}
	a {
		height: 76px;
		width: auto;
		display: block;
		padding: 24px;
		box-sizing: border-box;
		border: 1px solid #0a122a;
		text-align: center;
		color: #0a122a;

		&:hover {
			background-color: #0a122a;
			color: #ffffff;
			cursor: pointer;
		}
	}
}