.thumbnail, .charImage, img {
    width: 300px;
    height: auto;
    margin: 0 auto;
}

.characterVsSelect {
    text-align: center;
    .characterSelect-1, .characterSelect-2 {
        height: 300px;
        width: auto;
        display: inline-block;
        position: relative;
    }
    h1 {
        position: absolute;
        top: 340px;
        left: 420px;
        color: red;
        z-index: 2;
    }
}