// MARVEL BATTLE APP
// PAGE STYLING

.textbanner-blue {
	height: auto;
	width: 100%;
	display: block;
	padding: 2% 0%;
	box-sizing: border-box;
	background-color: #3a405a;
	text-align: center;
	color: #ffffff;

	h2 {
		margin-bottom: 0%;
	}
}