// MARVEL BATTLE APP
// CHARACTER SEARCH PAGE STYLING

.textbanner-blue {
	h4 {
		margin-bottom: 2%;
	}
	input[type="text"] {
		height: auto;
		width: 36%;
		padding: 0.5% 2%;
		margin-right: 2%;
		box-sizing: border-box;
		font-size: 0.90em;
	}
	input[type="submit"] {
		height: auto;
		width: auto;
		padding: 0.5% 2%;
		box-sizing: border-box;
		border: 1px solid #ffffff;
		background-color: transparent;
		font-family: Cinzel;
		font-size: 1.00em;
		text-align: center;
		color: #ffffff;

		&:hover {
			background-color: #0a122a;
			color: #ffffff;
			cursor: pointer;
		}
	}
}

#character-list {
	height: auto;
	width: 100%;
	padding: 10%;
	box-sizing: border-box;
}